<!DOCTYPE html>
<html>
  <head>
    <title>TaskLists</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Task List</h1>
    <div class="navbar">
      <ul class="links">
        <li><%= link_to "See All Lists", lists_path %></li> 
        <li><%= link_to "Create New List", new_list_path %></li>
      </ul>
    </div
    

    <div class="center">
      <%= yield %>
    </div>
  </body>
</html>
